.jumbotron {
    background: url('../img/events-hero.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    
    .container {
        z-index: 1;
    }
}

.dark-bg {
    background: rgba(0,0,0,.5);
}