<div class="jumbotron">
    <div class="container">
        <h1>Hello, events team!</h1>
        <div class="row dark-bg">
            <div class="col-md-6">
                <h4>What/why?</h4>
                <p>Use this page to create a new event, whose data will be automatically saved and uploaded to to <a href="//www.zealoptics.com/events" target="_blank">ZealOptics.com/Events</a> page.</p>
            </div>
            <div class="col-md-6">
                <h4>Questions?</h4>
                <p>Email Alex (agoodwin@zealoptics.com) or Max (mleitch@zealoptics.com).</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal well" id="newEventForm" method="post" action="/" ENCTYPE="multipart/form-data">
                <fieldset>

                    <!-- Form Name -->
                    <div class="row">
                        <legend class="col-md-8 col-md-offset-2">New Event <small class="pull-right">(* indicated required)</small></legend>
                    </div>

                    <!-- Name -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="eventName">Event name *</label>
                        <div class="col-md-4">
                            <input id="eventName" name="eventName" type="text" placeholder="" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Location -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="eventLocation">Location *</label>
                        <div class="col-md-4">
                            <input id="eventLocation" name="eventLocation" type="text" placeholder="" class="form-control input-md" required="">
                            <span class="help-block">This can be an address, city, or general information</span>
                        </div>
                    </div>

                    <!-- date start -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="dateStart">Date Start *</label>

                        <div class="col-md-4">
                            <div class="input-group date">
                                <input type="text" class="form-control" name="dateStart"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- time start -->
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="timeStart">Time Start</label>

                        <div class="col-md-3">
                            <div class="input-group time">
                                <input type="text" class="form-control" name="timeStart" placeholder="3pm"><span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- date end -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="dateEnd">Date End *</label>

                        <div class="col-md-4">
                            <div class="input-group date">
                                <input type="text" class="form-control" name="dateEnd"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- Time End -->
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="timeEnd">Time End</label>

                        <div class="col-md-3">
                            <div class="input-group time">
                                <input type="text" class="form-control" name="timeEnd" placeholder="5pm"><span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- summary -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="summary">Summary *</label>

                        <div class="col-md-4 summary">
                            <input type="text" class="form-control input-md" name="summary" maxlength="50">
                            <span class="help-block">Up to 50 characters briefly describing the event.</span>
                        </div>
                    </div>

                    <!-- description -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="description">Description</label>

                        <div class="col-md-4 description">
                            <textarea class="form-control" rows="3" name="description"></textarea>
                            <span class="help-block">Longer-form text describing the event. Appears only on the individual event page.</span>
                        </div>
                    </div>

                    <!-- event type -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="eventType">Event Type</label>

                        <div class="col-md-4">
                            <select class="form-control" name="eventType" id="eventType">
                                <option value="regular">Regular Event</option>
                                <option value="featured">Featured Event</option>
                            </select>
                            <span class="help-block">Most events should be regular- use 'featured' only for large events</span>
                        </div>
                    </div>

                    <!-- blog URL -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="blogPostUrl">Blog Post URL</label>
                        <div class="col-md-4">
                            <input id="blogPostUrl" name="blogPostUrl" type="text" placeholder="http://blog.zealoptics.com/post/144200845501/zeal-launches-wilderness-wednesdays-here-in" class="form-control input-md">
                            <span class="help-block">You may leave this blank if no blog post exists.</span>
                        </div>
                    </div>

                    <!-- External URL -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="externalUrl">External URL</label>
                        <div class="col-md-4">
                            <input id="eventName" name="externalUrl" type="text" placeholder="http://dewtour.com" class="form-control input-md">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <hr>
                    
                    <!-- photos -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="photos">Photos</label>
                        <div class="col-md-4">
                            <div id="dropzone" class="dropzone"></div>
                            <input type="hidden" value='[]' id="photosArray" name="photosArray">
                        </div>
                    </div>
                    
                    <hr>

                    <!-- submit -->
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create Event">
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Zeal Optics 2016</p>
    </footer>
</div>
<!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>

<!-- dropzone -->
<script src="bower_components/dropzone/dist/dropzone.js"></script>

<!-- google cloud api -->
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

<!-- general -->
<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')

    $('.input-group.date').datepicker({});
    
    Dropzone.options.dropzone = false;
    
    var myDropzone = new Dropzone("#dropzone", {
        url: "/photoUpload",
        maxFilesize: 10, // mb
        paramName: "file",
        method: "post",
        clickable: true,
        acceptedFiles: 'image/*'
    });
    
    myDropzone.on('complete', function(file) {
        /*
            Push public url(s) of all uploaded files to hidden input field
        */
        var publicUrl = file.xhr.responseText,
            photos = JSON.parse($('#photosArray').val());
        
        photos.push(publicUrl);
        
        $('#photosArray').val(JSON.stringify(photos));
    });

</script>

<script src="js/vendor/bootstrap.min.js"></script>
