.jumbotron {
    background: url('../img/events-hero.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding: 96px 0 0 0;
}

.dark-bg {
    background: rgba(0,0,0,.6);
}

.upcomingEventsHeader {
    h1, h2 {
        margin: 0;
        padding: 6px 0;
    }
}

.event {
    h3{
        margin: 0;
        padding: 6px 0;
    }
    
    .photos {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        align-items: center;
        justify-content: space-around;
        
        img {
            flex: 0 1 33%;
            max-width: 33%;
        }
    }
}

#newEventForm {
    fu-area:not([style-scope]):not(.style-scope) {
        height: 150px;
        width: 100%;
        margin: 0 auto;
    }
}